<!DOCTYPE html>
<html lang="en" ng-app="oss">
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
        <oss>
            <span>... Bootstraping ...</span>
        </oss>
        <script id="webpack-livereload-plugin-script" async="" src="http://localhost:35729/livereload.js"></script>
	</body>
</html>